header {
  margin: auto;
  width: 1000px;
  background-color: lightgray;
}

header h1 {
  padding: 20px;
}

header h2 {
  padding: 20px;
}

main {
  margin: auto;
  width: 1000px;
  height: auto;
  background-color: lightgray;
  background-clip: padding-box;
}

#content {
  padding: 20px;
}

#introduction {
  width: 400px;
}

#selfpicture {
  max-width: 400px;
}

.image {
  max-width: 400px;
}
