header {
  margin: auto;
  width: 1000px;
  background-color: lightgray;
}
main {
  margin: auto;
  width: 1000px;
  height: 1000px;
  background-color: lightgray;
  background-clip: padding-box;
}

#content {
  padding: 20px;
}

#selfpicture {
  max-width: 400px;
  float: right;
}
