h1 {
  color: orange;
  font-size: 200%;
}

#content_yooka {
  width: 500px;
  min-height: 300px;
  font-family: Georgia;
  padding: 10px;
  background-image: url(../img/capybara.jpg);
}
#content_yooka img {
  float: left;
}

#content_ashwin p {
  width: 500px;
  font-family: "comic sans";
  min-height: 300px;
  background-color: #cccccc;
  padding: 10px;
  margin: 10px;
  border: solid 1px #444444;
  font size: 20px;
}
